body {
     background: rgb(255, 255, 255);
     font-family: 'Courier New', Courier, monospace;
     color: rgb(26, 26, 26);
     padding: 1% 5% 5% 5%;
 }
 
 header {
    color:rgb(199, 199, 199);
    padding: 10px 10px 10px; 
    height: 10%;
 }
 
 nav{
    float:right;
    padding-right: 20px;
    
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    width: 100px;
    text-align: center;
    }
 
h1 {
     color: rgb(22, 22, 22);
     padding: 10px 10px 10px 10px; 
     font-size: 80px;
 }
 
 div{
     background: rgb(255, 255, 255);
     width: 30%;
     padding: 3%;
 }
 section{
     background:rgb(255, 255, 255);
     padding: 10px;
     display: flex;
 }

 

 
    



li:hover {
  color: red;}

button {
    border-radius: 10px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    background: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
}

