body {
     background: rgb(255, 255, 255);
     font-family: 'Courier New', Courier, monospace;
     color: rgb(26, 26, 26);
     padding: 1% 5% 5% 5%;
 }
 
 header {
    background-color:rgb(255, 255, 255);
    padding: 10px 10px 10px 10px; 
 }
 
 nav{
    float:right;
    width: 100%;
    background-color:rgb(255, 255, 255);
    padding: 10px 10px 10px 10px; 
   
    
}

ul {
    list-style: none;
    background-color:rgb(255, 255, 255);
}

li {
    display: inline-block;
    background-color:rgb(255, 255, 255);
    width: 100px;
    text-align: center;
    float: right;
    margin: 10px;
    }
 
.hero {
    background-color: rgb(255, 255, 255);
}

.hello {
    background-color: rgb(255, 255, 255);
    width: 40%;
}

.hello_body {
    color: rgb(22, 22, 22); 
    font-size: 20px;
    letter-spacing: 0.5px;
    font-weight: 500;
}

h1 {
     color: rgb(22, 22, 22);
     padding: 0; 
     font-size: 80px;
     line-height: 0.05;
     

 }

 h3 {
    color: rgb(22, 22, 22); 
    font-size: 20px;
    letter-spacing: 0.5px;
}
 
 div{
     background: rgb(255, 255, 255);
     width: 25%;
     padding: 3%;
 }
 section{
     background:rgb(255, 255, 255);
     padding: 10px;
     display: flex;
 }

 

 
    



li:hover {
  color: red;}

button {
    border-radius: 10px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    background: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
}

