#gallery {
    line-height:0;
    -webkit-column-count:5; /* split it into 5 columns */
    -webkit-column-gap:5px; /* give it a 5px gap between columns */
    -moz-column-count:5;
    -moz-column-gap:5px;
    column-count:5;
    column-gap:5px;
 }
 
 @media (max-width: 1200px) {
    #gallery {
     -moz-column-count:    4;
     -webkit-column-count: 4;
     column-count:         4;
    }
 }
 @media (max-width: 1000px) {
    #gallery {
     -moz-column-count:    3;
     -webkit-column-count: 3;
     column-count:         3;
    }
 }@media (max-width: 800px) {
    #gallery {
     -moz-column-count:    2;
     -webkit-column-count: 2;
     column-count:         2;
    }
 }
 @media (max-width: 400px) {
    #gallery {
     -moz-column-count:    1;
     -webkit-column-count: 1;
     column-count:         1;
    }
 }

 filter: grayscale(100%);
 #gallery img:hover {
    filter:none;
 }
 transition: filter 2s;

 ::selection {
    background: yellow;
}
body {
    background: rgb(255, 255, 255);
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-weight: bold;
    color: rgb(26, 26, 26);
}
.pfp{
    display: flex;
    Justify-Content:center;
    align-items: center;
    
}
.hero {
    position: relative;
    top: 500;
}
.hello {
    background: rgba(255, 255, 255, 0);
    width: 50%;
    font-family: Helvetica, Arial, sans-serif;
}
.hello_body {
    color: rgb(22, 22, 22);
    font-size: 20px;
    letter-spacing: 0.5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}
h1 {
    color: rgb(22, 22, 22);
    padding: 0;
    font-size: 80px;
    line-height: 0.05;
}
h3 {
    color: rgb(22, 22, 22);
    font-size: 20px;
    letter-spacing: 0.5px;
}
div{
    background: rgb(255, 255, 255);
    width: 25%;
    padding: 3%;
}
section{
    padding: 10px;
    display: flex;
}
button {
    border-radius: 10px;
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
    background: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
}
.btn {
    border-color: black;
    background-color: white;
    color: rgb(0, 0, 0);
    font-family: Helvetica, Arial, sans-serif;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 15px;
}
/* Darker background on mouse-over */
.btn:hover {
    border-color: rgb(255, 255, 255);
    background-color: black;
    color: white;
}
.post_it {
    cursor: pointer;
}
.spacer{
    width: 2%;
}
